
<ion-content>
  <video autoplay loop src="assets/06.mp4"></video>
  <div class="image">
    <img src="../../assets/1.png"/>
  </div>
  
  <div class="text">
    <p><span style="color: #f6b844; font-family: 'Lobster Two', cursive;"> Find </span> <span style="color: black; font-family: 'Lobster Two', cursive;">weather forecast for your city</span> <p style="color: black; font-family: 'Lobster Two', cursive;">Easy steps to predict the weather and make your day easier</p>
  <ion-button [routerLink]="['/home']" style="color: black; font-family: 'Lobster Two', cursive;">Get Started</ion-button>
  </div>
</ion-content>
